

/*---- MEDIA QUERY -------*/

@media width-max: 1130px)
{
    .index-page .top-bar
    {
        text-align: center;
    }
    .top-bar-right .top-bar-nav-left
    {
        float: none;
    }

}

/*------ CAS GENERAL ----*/

body
{
    background: url("https://1337x.to/css/images/main-bg.png") no-repeat center top #141414;
   /* margin: 0;
    line-height: 1.42px;*/
}
ul
{
    list-style: none;
    text-transform: uppercase;
}
a
{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}


/*----- Header ----*/

.container
{
    padding-left: 15px;
    padding-right: 15px;
   /* margin-left: 0px;
    margin-right: 0px;*/
    width: 100%;
    position: relative;
    max-width: 1255px;
}
.top-bar
{
    background: #000;
    border-bottom: 5px solid #822a0b;
    padding: 10px 0 0 0;
    text-align: right;
    min-height: 39px; 
}
.top-bar-right
{
    float: left;
    position: relative;
    right: 15px;
}
.top-bar-nav-left
{
    float: right;
    position: relative;
    left: 25px;
}
.top-bar ul
{
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}
.top-bar li:first-child
{
    border-left: 0px;
}
.top-bar ul
{
    padding: 0 15px;
    font-family: "Oswald",serif;      
}
.top-bar li
{
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
    border-left: 1px solid #545454;
    height: 15px;
    margin-right: 7px;
    margin-left:0;
    text-align: center;
}
.top-bar ul li a:hover
{
    color: red;
}
.top-bar ul li a
{
    position: relative;
    top:-5px;
    left: 4px;
}
.ch1
{
    color: #65ad19;
}
.ch2
{
    color: red;
}

/*------- CONTENAIRES -------*/
 
 .container2
 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: relative;
    max-width: 1255px;
 }
 .row
 {
    margin-left: -15px;
    margin-right: -15px;
 }
 .col-8
 {
    width: 67%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    left: 17%;
 }

/*------  SECTION LOGO  ----*/

.logo
{
    width: 265px;
    margin: 60px auto; 
}
.logo a
{
    display: block;
}
.logo img 
{
    width: 100%;
    vertical-align: middle;
    border: 0;
}


/*----- SECTION BARRE DE RECHERCHE ----*/

input:focus
{
    outline: none;
    border-color: #9ecaed;
    box-shadow:0 0 7px #9ecaed;
}
.cherch
{
     position: relative;
     margin: 0 7% 100px 7%;
}
.form-searc
{
   width: 100%;
   font-size: 18px;
   height: 48px;
   background: #000;
   border: 1px solid #5c4841;
   border-radius: 3px 0 0 3px;
   color: #adadad;
   line-height: 38px;
   margin: 0;
   padding: 0 17px;
   position: relative;
}
.formu
{

   position: relative;
   padding-right: 113px;
}
.btn
{
    height: 48px;
    line-height: 2.2;
    background-color: #b42f00;
    color: #fff;
    width: 118px;
    border-radius: 0 3px 3px 0; 
    position:absolute;
    border: 1px solid #ee490e;
    text-transform: uppercase;
    font-size: 20px;     
    text-shadow:0 -1px 2px #000; 
    top:0;
    right: 0;
    padding: 0 10px 0 40px;
    font-family: "Oswald Regular";
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0;
}
.cherch i
{
    position: absolute;
    top: 6;
    left: 8px;
}
.btn2:hover
{
    background-color: #Ff5b00;
    color: white;
}

/*------  SECTION NEWS ----*/

.news
{
    background-color: transparent;
    border-radius: 3px;
    margin-bottom: 24px;
    position: relative;
}
.new1
{
    background-color: rgba(214, 54, 0, 0.7);
    border: 1px solid #FF6735;
    border-radius: 3px 3px 0 0;
    padding: 8px 20px;
    position: relative;
    line-height: 27px;
}
.new1 h1
{
    color: #fff;
    margin: 6px 0 0 0;
    padding: 0;
    border: 0;
    font-size: 17px;
    font-family: "Oswald",sans-serif;
    display: inline-block;
}
.info-time
{
    color: #fff;
    float: right;
    font-size: 14px;
    font-family: "Opensans Regular", sans-serif;
    line-height: 19px;
    margin-top: 5px;
}
.info-time i
{
    font-size: 16px;
    margin-right: 8px;
}
.new2
{
    background-color: rgba(63, 63, 63, 0.7);
    border-color: rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    padding: 19px 20px;
    border-radius: 3px;
}
.new2 p
{
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}
.new2 p a 
{
    color: #d83f09;
    font-family: "Opensans Bold";
}
.new2 p a:hover
{
    text-decoration: underline;
    cursor: pointer;
    color: #d83f09;
}

/*-- SECTION NEWS --*/

.categories
{
    margin: 0;
    padding: 0;
    text-align: center;
}
.categories li
{
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
}
.categories h3
{
    text-transform: uppercase;
    color: #f14f14;
    font-size: 18px;
    font-family: "Oswald Light"; 
    margin-bottom: 7px;
}
.categories a 
{
    display: block;
    color: #f14f14;
}
.categories a :hover
{
    color: #f14f14;
    text-decoration: underline;
}
.icon
{
    position: relative;
    color: #fff;
    height: 72px;
    width: 72px;
    margin: 0 auto 20px;
    line-height: 68px;
    background-color: #b42f00;
    border: 3px solid #ee490e;
    border-radius: 100px;
    display: block;
}
.icon i
{
    display: inline-block;
    font-size: 28px;
    position: relative;
    z-index: 99;
}
.icon i:after
{
    position: absolute;
    right: 0;
    top: -6px;
    background-color: #e2430b;
    height: 100%;
    width: 50%;
    transform: rotate(-20deg);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;  
    content:'';
}
.library
{
    font-size: 13px;
    color: #89ad19;
    font-family: "Opensans Light",sans-serif;
    line-height: 1.2;
    display: block;
}
.library:hover
{
    color: #96d900;
    cursor: pointer;
}

.movies
{
    width: 30px;
    height: 30px;
    margin-top: -1px;
}







/*.categories i:hover
{
    
    background-color: #b42f00;
    transform: rotate(-20deg);
    right: 0;
    position: absolute;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    top: -6px;
    height: 100%;
    width: 50%;
    /*content: '';*/

}       

      

.fi
{
    position: absolute;
    top: 11px;
    left: -20px;
    line-height: 2.2;
    font-size: 20px;

}


/*-- FOOTER --*/ 

footer
{
  background-color: #090909;
  border-top: 1px solid #55200e;
  margin-top: 64px;
  padding-bottom: 13px;
  text-align: center;
  position: relative;
} 

footer span
{
    color: #fff;
    font-size: 15px;
    font-family: "Oswald",sans-serif;
}  
footer p
{
    color: #fff;
    font-size: 12px;
    padding: 6px 0 0 ;
    margin: 0;
    position: relative;
    top:-10px;
}
footer ul
{
    margin-top: 17px;
    text-align: center;
}
footer li:first-child
{
    margin: 0;
}
footer li
{
    display: inline-block;
    margin-left: 15px;
}
footer li a
{
    color: #818181;
    font-size: 16px;
    font-family: "Oswald",serif;
    text-transform: uppercase;
}
footer li.active a
{
    color: #fff;
}
footer li a:hover
{
    color: #fff;
}
footer .bitcoin
{
  width: 410px;
  margin: 20px auto  0;
  position: relative;
    
}
.btc
{
  position: absolute;
  left: -4px;
  top: -6px;height: 48px;
  width: 48px;
  border-radius: 100px;
  border:4px solid #050505;
}
.coin
{
  display: block;
  height: 41px;
  width: 41px;
  line-height: 41px;
  border-radius: 100px;
  color: #000;
  background-color: #f9a644;
  border: 1px solid #fff;
}
.bor
{
  display: block;
  color: #fff;
  padding: 6px 20px 8px 55px;
  border-radius: 20px;
  border:1px solid #505050;
  background-color: #2e2e2e;
}
footer .hv1:hover
{
    color:#d6360e;
}
footer .hv1
{
    vertical-align: bottom;
    position: relative;
    top: -1px;
    color: #fff;
    font-size: 15px;
    font-family: "Oswald",sans-serif;
    left: -1px;
}

.ancr
{
    position: absolute;
    top: -20px;
    width: 35px;
    height: 20px;
    left: 50%;
    margin-left: -17px;
    color: #fff;
    background-color: #632611;
    border-top-left-radius: 18px;
    border-top-right-radius:18px;
}
footer .ancr i
{
    font-size: 12px;
    vertical-align: top;
}
footer .bt
{
   color: #000;
   font-size: 21px;
   margin-left: 33px;
   margin-bottom: 12px;

}
footer .ht
{
    margin-left: 33px;
    font-size: 41px;
    position: relative;
    top:0px;
    color: #fff;
}



